@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}

.content{
    font-size: 0.7em;
    width: 88%;
    height: 90vh;
    margin: 70px 6% 70px 6%;
    text-align: center;
    background: hsl(244, 38%, 16%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.information p:nth-of-type(1){
    margin: 15px 0 20px 0;
    line-height: 1.5;
    letter-spacing: 1px;
}

.upper{
    text-transform: uppercase;
}

p{
    color: hsla(0, 0%, 100%, 0.6);
}

h1{
    color: hsl(0, 0%, 100%);
}

h2{
    margin: 20px 0px 5px 0px;
}

span{
    color: hsl(277, 64%, 61%);
}

.image-container{
    background-image: linear-gradient( hsla(277, 88%, 30%, 0.6), hsla(277, 88%, 30%, 0.6) ),
    url(media/image-header-mobile.jpg);
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0;
    flex: 1;
}

.information{
    padding: 12% 5%;
    flex: 2;
}

@media (min-width: 768px){
    .content{
        display: flex;
        flex-direction: row-reverse;
        width: 70%;
        height: 400px;
        margin: 140px 0 0 15%;
    }

    .image-container{
        height: 100%;
        width: 100%;
        border-radius: 0 10px 10px 0;
        flex: 1;
    }

    .information{
        flex: 1;
        font-size: 1.3em;
        text-align: left;
        padding: 0;
    }

    .information h1{
        margin: 10% 15% 2% 10%;
    }

    #description{
        margin: 5% 15% 2% 10%;
    }

    .data{
        display: flex;
        justify-content: flex-start;
        margin-top: 10%;
    }

    .data div{
        margin-left: 10%;
    }

}